
// Greens
$medium-green: #00ab6b;
$medium-green-text: #02b875;
$medium-light-green: #48e79a;
$medium-dark-green: #1c9963;
$medium-super-light-green: #b3ead6;
$box-shadow-gray: rgba(0,0,0,.15);
$overlay-gray: rgba(0,0,0,.6);
$main-text: rgba(0,0,0,.8);
$light-gray: #f0f0f0;
$medium-light-gray: #eeeeee;
$gray-text: #b3b3b1;
$gray: #d0d2d3;
$white-smoke: #fafafa;
$white: #ffffff;
$yellow: #ffff00;
$light-yellow: #fffbac;
$orange: #e7af0e;
$pink: #e368d6;
$red: #cc5454;
$dark-blue:#788ca0;
$blue-green:#47bcac;
$blue:#000bac;
$jet-black:#262625;
$black:#000000;
