.user-image {
  border-radius: 100%;
}

.float-right {
  display: float-right;
}

@media (max-width: 800px) {

  body {
    font-size: 1.0em;
  }

  h3.story-index-item-title {
    font-size: 24px;
  }

  .header nav {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }

  .header .medium-green-button {
      display: none;
    }

  .story-feed {
    width: 95%;
  }

  .story {
    width: 100%;
    font-size: 18px;
  }

  .story span {
    font-size: 18px;
  }

  .search-results{

    width: 100%;
    left: 0px;
    right: 0;
  }



}

@media (min-width: 801px) {
  .story-feed {
    max-width: 660px;
  }

  .search-results{
    left:59%;
    width: 260px;
  }

  .header nav {
    width: 70%;
  }

  .story {
    width: 75%
  }
}
