.header {
    display: flex;
    justify-content: center;
    z-index: 500;
    width: 100%;
    font-size: 14px;
    color: $main-text;
    font-family: "avenir";
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    top: 0;
    box-shadow:0 2px 2px -2px $box-shadow-gray;
    background: rgba(255,255,255,.97)!important;
    position: fixed;
    align-items: center;

  &:before, &:after {
    display: table;
    content: " ";
  }

  h1 {
    padding: 10px;
    color: #000;
    font-size: 40px;
  }

  button {
    color: #02b875;
    background-color: transparent;
  }

  .medium-green-button {
    text-decoration: none;
    display: inline-block;
    font-family:'Helvetica Neue';
    color: #02b875;
    background-color: transparent;
    border: none;
    vertical-align: middle;
    font-size: 14px;
  }

  &-settings {
    display: flex;
    align-items: center;
    min-width: 100px;
    justify-content: space-around;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
