.story {
  margin: auto;
  margin-top: 100px;
  max-width: 740px;
  background-color: white;
}

.story span {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  text-align: left;
  white-space: pre-wrap;
}

figure.md-block-image figcaption {
  display:none;
}

.story-title {
  color: rgba(0,0,0,0.8);
  font-size: 40px;
  line-height: 1.04;
  letter-spacing: -.028em;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 0;
}

.story-options {
  position: absolute;
  color: black;
  top: 100px;
  right: 30%;
}

.author-header {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  font-size: 15px;
}
.author-header a {
  display: flex;
  align-items: center;
}

.author-header img {
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 10px;
}

.author-header p {
  float: left;
}

.author-details {
  display: flex;
  flex-direction: column;
}

.author-name {
  margin-bottom: 5px;
  font-size: 15px;
}
.author-bio {
  text-overflow: clip;
  color: rgba(0, 0, 0, .44);
  font-size: 13px;
}
